@media screen and (max-width: 768px) {
  #header {
    display: flex !important;
    align-items: center;
    padding: 4px 20px 2px;
    }
  
  #menu a:hover {
    font-size: 1em;
   }
  
  #hamburger-content {
    display: none;
   }
  
  #hamburger-button,
  #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
    display: block;
   }
  
  .hamburger-activated #hamburger-sidebar {
    transform: translateX(0);
   }
  
  #menu li {
    font-size: 1em;
   }
  
  #menu li::after {
    content: none;
   }
  
  #slider {
    height: 80vh;
   }
  
  .background {
    height: 80vh;
   }
  
  #slider img {
    height: 80vh;
   }
  
  .pres h1 {
    font-size: 2em;
   }
  
  .pres {
    width: 65%;
    padding: 8px;
    font-size: 1.2rem;
   }
  
  #me {
    text-align: center;
   }
  
  #me .row {
    display: block;
   }
  
  #me div img {
    padding-bottom: 20px;
    width: 220px;
   }
  
  .btn {
    margin-bottom: 20px;
   }
  
  .dates {
    margin: 0 auto;
   }
  
  .studyItem .rightArea {
    border: none;
   }
  
  .studyBox {
    padding: 22px 40px 6px 47px;
   }
  
  .arrowpart {
    margin-left: 20px;
   }
  
  #contact .btn {
    width: 100%;
    text-align: center;
   }
}
  