/************* lOISIR *************/
#loisir {
  width: 100%;
  padding: 30px 0;
  background: #145;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.5);
}

#loisir p {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 1.7em;
  color: #fff;
  font-weight: 300;
  text-align: center;
  transition: all 0.6s;
}

#loisir p span {
  font-weight: 800;
}

@keyframes blink-caret {
  from,
  to { border-color: transparent; }
  50% { border-color: orange; }
}

/************* CONTACT *************/

#contact {
  background: #08112a;
  padding: 40px 60px 20px;
  min-height: 65vh;
  text-align: center;
}

#contact h1 {
  color: #eaeaea;
  padding-bottom: 0.4em;
  font-weight: 700;
}

#contact .btn {
  background: #164d6e;
  border: none;
  padding: 10px 40px;
}

#contact .btn:hover {
  opacity: 0.8;
}

#contact .btn:disabled {
  cursor: not-allowed;
}

textarea {
  min-height: 250px;
}

#contact textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 250px;
}

.networks li {
  color: #fff;
  list-style-type: none;
  font-size: 1.3em;
  display: inline-flex;
}

.networks li a {
  text-decoration: none;
  margin: 24px 10px;
}
