<section id="me" class="flex">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col">
                <h1 class="titreBorder">A propos de moi</h1><br><br>
                <p> Je m’appelle <strong>Frédéric Vanmarcke</strong>.<br>
                    Après <strong>18 ans</strong> chez <a href="https://www.tyco.fr/johnson-controls-ifs-detectionextinction-incendie-et-solutions-de-securite-electronique/" target="_blank"> Tyco</a> dans la protection incendie et en ayant fait le tour de tous les secteurs de l’entreprise, 
                    j’ai ouvert un magasin de vente et dépannage en informatique. Suite à cette expérience, j’ai intégré <a href="https://afd.tech/" target="_blank">AFD.TECH</a> une <em>SSII</em> en tant que technicien informatique et Télécom.</p>
                    <P> Depuis mes 12 ans, je codai déjà sur mon ordinateur personnel <a href="https://fr.wikipedia.org/wiki/Amstrad_CPC_464" target="_blank"> AMSTRAD CPC464</a> en langage Basic.</P>
                    <p> J’ai décidé, <strong>après 30 ans d'expériences professionnelles</strong>, 
                    d'effectuer un retour aux sources. C'est pour cela qu'à 48 ans, j’effectue une reconversion professionnelle, 
                    en intégrant une formation de <em>Développeur WEB</em> largement dominée par un public plus jeune. </p>
                    <p><strong>Fier</strong> d'avoir atteint mes objectifs de carrière tout au long de mon parcours, on peut dire que je suis un <em>Self Made Man</em> 
                    qui a évolué pendant 18 ans au sein du même groupe, créer son entreprise, occupé divers postes d’un niveau Ingénierie 
                    et qui devient Développeur WEB, métier qui me suit depuis mes 12 ans.</p>
                    <p>Dans ce portfolio, je vais vous présenter mes compétences, mon parcours ainsi que mes principales intégrations et créations.<br><br>
                    Pour toute question, n’hésitez pas à me contacter.</p>
                <br>
                <a target="_blank" href="../../../Projet5_Blog/public/cv/CV_DEV_frederic_vanmarcke.pdf" class="btn btn-cv">TÉLÉCHARGER MON CV</a>
            </div>
            <div class="col">
                <img alt="Photo de Frédéric Vanmarcke - Développeur & Intégrateur, Rambouillet, France" src="public/images/photo_profil.jpg" />
            </div>
        </div>
    </div>
</section>
