<footer id="footer">
    <p> Copyright &copy; Frédéric Vanmarcke <br class="brportable">
        <a class="btn-legal" data-toggle="modal" data-target="#mentionsLegales">Mentions Légales</a>
    </p>
    <!-- mentions légales ***************************************** -->
    <div class="modal fade" id="mentionsLegales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <img alt="Logo du Portfolio Frédéric Vanmarcke - Développeur & Intrégateur web" src="public/images/logo_small.png" style="width: 14%">Mentions légales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Le site www.vmkdev.com est géré et développé par :<br>
                    Frédéric Vanmarcke
                    <br>
                    <br>
                    Le site www.vmkdev.com est hébergé par :<br>
                    Ligne Web Services (LWS)<br>
                    SASU au capital de 500 000 €<br>
                    RCS Paris B 851 993 683 00024<br>
                    Code APE 6311Z<br>
                    N° TVA : FR 21 851 993 683<br>
                    SIRET 85199368300024<br>
                    Siège social :<br>
                    10, RUE PENTHIEVRE<br>
                    75008 PARIS<br>
                    France<br>
                    Directeur de la publication : Nicolas Depredurand<br>
                    Hébergeur : LWS<br>
                    Tél : 01 77 62 30 03<br>
                </div>
            </div>
        </div>
    </div>
</footer>