    <section id="formation">
        <div class="container">
            <div class="row">
                <div class="w-100">
                    <i class="fa fa-graduation-cap"></i>
                    <h1>Mon parcours</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row studyItem">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="dates">
                        <h5>Juin 2021<br>
                            En cours</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="studyBox">
                        <h4>Formation Développeur d'application - PHP / Symfony</h4>
                        <h5>Openclassrooms</h5>
                        <p> Spécialisation PHP / Symfony afin d'obtenir le diplôme "Développeur d’application" enregistré au RNCP, 
                            de niveau II reconnu par l’État (équivalent au niveau Bac+3/4). <a style="text-decoration:none" href="#portfolio">Voir certificats </a></p>
                    </div>
                </div>
            </div>
            <div class="row studyItem">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="dates">
                        <h5>Février 2020<br>
                            Juillet 2020</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="studyBox">
                        <h4>Formation Développeur intégrateur Web</h4>
                        <h5>WEBFORCE 3, Trappes (78)</h5>
                        <p>HTML, CSS, RWD, Bootstrap, Sql, Wordpress, SEO, Angular, Ionic, Cordova, Javascript, Jquery, Ajax, PHP, Synfony,Lavarel.<br>
                        Certifications obtenues à l'issue des cours : <a style="text-decoration:none" href="#portfolio">Voir certificats </a> </p>
                    </div>
                </div>
            </div>
            <div class="row studyItem">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="dates">
                        <h5><br>2018</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="studyBox">
                        <h4>Formation Habilitation électrique</h4>
                        <h5>Altitude Formation Massy (91)</h5>
                        <p>Habilitation électrique : B2V, B1V, BR, BC et H0V.</p>
                    </div>
                </div>
            </div>
            <div class="row studyItem">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="dates">
                        <h5><br>2017</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="studyBox">
                        <h4>Administration et Intégration Swap Télécom</h4>
                        <h5>Nokia Nozay (91)</h5>
                        <p>Formation SWAP ORANGE HN & SE – ROC/NOC WLS 2G & 3G.</p>
                    </div>
                </div>
            </div>
            <div class="row studyItem">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="dates">
                        <h5><br>1992 – 2010</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="studyBox">
                        <h4>Diverses formations Magasinier</h4>
                        <h5>Trappes (78)</h5>
                        <p> • Stage perfectionnement des chefs magasiniers.<br>
                            • Stage progiciel AS 400 et MOVEX.<br>
                            • Stage de formation en radioprotection.</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>