<div class="tab-pane fade" id="recommandations" role="tabpanel" aria-labelledby="recommandations-tab">
	<p>Attestation de fin de stage et lettres de recommandation.</p>
	<div class="container-fluid p-0">
		<div class="row">


			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#attestation">
					<img class="img-fluid" src="assets/images/logo_pasvupaslu.png" alt="Logo PasVuPasLu"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Stage chez Therhoma
					</div>
				</a>
			</div>
			<div class="modal fade" id="attestation" tabindex="-1" role="dialog" aria-labelledby="attest" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Attestation de fin de stage Therhoma</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<a target="_blank" href="assets/cv/attestation_terhoma.pdf" class="btn btn-attest">Télécharger l'attestation</a>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/attestation_stage_Therhoma.jpg" alt="Attestation de fin de stage Therhoma"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#attestation2">
					<img class="img-fluid" src="assets/images/logo_wf3.jpg" alt="Logo WF3"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Stage chez Terhoma
					</div>
				</a>
			</div>
			<div class="modal fade" id="attestation2" tabindex="-1" role="dialog" aria-labelledby="attest" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Attestation de fin de stage Web Force 3</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<a target="_blank" href="assets/cv/attestation_wf3.pdf" class="btn btn-attest">Télécharger l'attestation</a>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/attestation_stage_wf3.jpg" alt="Attestation de fin de stage Web Force 3"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
