<div class="tab-pane fade" id="certificats" role="tabpanel" aria-labelledby="certificats-tab">
	<p>Certifications obtenues à l'issue des cours</p>
	<div class="container-fluid p-0">
		<div class="row">

			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-front">
					<img class="img-fluid" src="assets/images/logo_wf3.jpg" alt="Logo WF3"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Développement Front
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-front" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification Techniques d'intégration Web</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_html_css.png" alt="certificat_html_css"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-back">
					<img class="img-fluid" src="assets/images/logo_wf3.jpg" alt="Logo WF3"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Développement Back
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-back" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification Techniques de développement Web</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_php_sql_javascript.png" alt="certificat_php_sql_javascript"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-htmlcss">
					<img class="img-fluid" src="assets/images/openclassroom.webp" alt="Logo Openclassrooms"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>HTML & CSS
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-htmlcss" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification HTML & CSS</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_OCR_HTML5_CSS3.jpg" alt="certificat_html_css"/>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-symfony5">
					<img class="img-fluid" src="assets/images/openclassroom.webp" alt="Logo Openclassrooms"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Symfony 5
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-symfony5" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification au framework Symfony 5
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_OCR_Symfony5.jpg" alt="certificat symfony 5"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-react-native">
					<img class="img-fluid" src="assets/images/openclassroom.webp" alt="Logo Openclassrooms"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>React Native
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-react-native" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification application React Native</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_OCR_React_Native.jpg" alt="certificat React Native"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-angular">
					<img class="img-fluid" src="assets/images/openclassroom.webp" alt="Logo Openclassrooms"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Angular
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-angular" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification application Angular</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_OCR_Angular.jpg" alt="certificat Angular"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-sm-3 work-item">
				<a href="#" data-toggle="modal" data-target="#cert-wp">
					<img class="img-fluid" src="assets/images/openclassroom.webp" alt="Logo Openclassrooms"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Wordpress 5
					</div>
				</a>
			</div>
			<div class="modal fade" id="cert-wp" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Certification Wordpress 5</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 modal-left">
									<img src="assets/images/certificat_OCR_WordPress.jpg" alt="certificat Wordpress 5"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
