<section id="experience">
	<div class="container">
		<div class="row">
			<div class="w-100">
				<i class="fa fa-laptop"></i>
				<h1>Mes expériences professionnelles
				</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Juin 2020
						<br>Juillet 2020<br></h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Chef de projet Développement Web</h4>
					<h5>Terhoma (78)</h5>
					<p>
						<strong>
							Stage pratique pour le site
							<a href="https://pasvupaslu.com" target="_blank">PasVuPasLu.com</a>, refonte total du site suivant cahier des charges :</strong><br><br>
						• Animations et mise en place de parties entièrement modifiables à partir du back office.<br>
						• Pouvoir coller à l’actualité et que chaque visiteur trouve des nouvelles choses tous les jours.<br>
						• Modifictaion Bandeaux des hauts de pages plus attractifs, actifs, modifiables, animés.<br>
						• Page d’accueil rendue entièrement modifiable dans le back office.<br>
						• Plus de données chiffrées et d’informations sur la plateforme.<br>
						• Affichage sur la page d’accueil du livre le mieux noté.<br>
						• Cadres interviews basculant sur le site du Magazine.<br>
						• Environnemnt Technique : PHP 7.4, Symfony 4, Base de données SQL, Css, Bootstrap, Javascript.</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Février 2018<br>
						Novembre 2019</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Conducteur de travaux Télécom fibre optique</h4>
					<h5>SNEF Télécom (78)</h5>
					<p>
						<strong>Pilotage des interventions pour les régions IDF, Centre, Nord et Nord Est :</strong><br><br>
						• Organisation et contrôle de l'exécution des travaux FTTH.<br>
						• Pilotage des interventions régions Centre, Nord et Nord Est.<br>
						• Veille au respect des conditions de sécurité et d'hygiène sur les chantiers.<br>
						• Coordination et suivi des techniciens.<br>
						• Organisation et participation aux réunions partenaires.<br>
						• Suivi des levées de réserves.<br>
						• Suivi budgétaire et facturation.<br>
						• Suivi des heures de production.<br>
						• Soutien aux chefs de chantiers.<br>
						• Management des équipes de production.
					</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Janvier 2017<br>Janvier 2018</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Consultant cellule adduction FTTH</h4>
					<h5>AFD Tech. (78) pour Bouygues Télécom (78)</h5>
					<p>
						<strong>Suivi des adductions FTTH :</strong><br><br>

						• Traitement des alertes du périmètre Orange afin de contrôler la qualité et la cohérence des flux 
						                        reçus des partenaires mais aussi de gérer les relations et dysfonctionnements avec les OI 
						                        (absence des documents contractuels, suivi des commandes, etc..).<br>

						• Traitements des VABF pour réaliser les tests de synchronisation et un bilan de 
						                        liaison lors de l’adduction d’un PM par les techniciens de l’Opérateur Partenaire qui communiquent
						                        les mesures à la Hotline N2 adduction de fibre FFTH.<br>

						• Garant de la gestion des livrables, mise en forme, traitement, livraison et contrôle de la qualité
						                        et des délais imposés par le client.<br>

						• Portail applications du SIR : Fast Fiber, Gir, Jar, EP1, AMS, Avaya, Business Objects, Access.</p>
				</div>
			</div>
		</div>


		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Février 2016<br>Décembre 2016</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Administration Suivi SWAP Orange</h4>
					<h5>AFD Tech. (78) pour Alcatel-Lucent / Nokia (91)</h5>
					<p>
						<strong>Traitements et suivis des activations SWEEP post SWAP Orange :</strong><br><br>
						• Mises à jour des tickets Océane.<br>
						• Facturations des prestations SST.<br>
						• Prises en comptes des tickets Océane en arrivés.<br>
						• Déclenchements et relances des SST pour interventions post SWAP.<br>
						• Mises à jour et suivis des tickets Océane suite aux divers retours SST.<br>
						• Facturations dans Altas pour honorer les prestations SST.<br>
						• Metagate : Portail outils Orange.<br>
						• Océane : Ticket de suivi des alarmes et des interventions.<br>
						• Atlas : Facturation Nokia</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Mai 2015<br>Janvier 2016</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Administrateur Réseau RDIP-AIR</h4>
					<h5>AFD Tech. (78) pour Alcatel-Lucent (RDIP-78)</h5>
					<p>
						<strong>Traitement et suivi des demandes de services (DS) :</strong><br><br>
						• Configuration et suivi d’exploitation sur infrastructure réseau de grande échelle.<br>
						• Pilotage des techniciens sur terrain pour la résolution des incidents.<br>
						• Mise en réseau utilisateurs finals (Utilisateurs, imprimantes).<br>
						• Sauvegarde et Analyse des configurations des Equipements.<br>
						• Administration des différents Equipements Réseau ALCATEL (6450,6750).<br>
						• NETASQ (NG1000), NEXANS(µSwitch).</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Janvier 2014<br>Mai 2015</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Coordinateur  Intégrateur SWAP Télécoms Réseaux Radio</h4>
					<h5>AFD Tech. (78) pour Alcatel-Lucent (91)</h5>
					<p>
						<strong>Coordination et Intégration des baies 2G, 3G et 4G pour SWAP Orange :</strong><br><br>
						• Suivi des tickets Océane de P1 à P3.<br>
						• Formation des nouveaux arrivants.<br>
						• Pilotage des levées de réserves des sites après SWAP.<br>
						• Mission en Roumanie pour la Formation et l’évaluation des équipes du ROC.<br>
						• Pilotage des Levées de réserves Post AUDIT- SWAP Orange.</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Juin 2013<br>Décembre 2013</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Technicien Télécoms Réseaux Radio</h4>
					<h5>AFD Tech. (78) pour Alcatel-Lucent – Orange (91)</h5>
					<p>
						<strong>Supervision et Traitement des tickets P1 et P3 dans OCEANE :</strong><br><br>
						• Prise en charge, suivi, relance, rétablissement des connexions des baies 2G et 3G.<br>
						• System Monitoring et Gestion des alarmes sur les équipements radio.<br>
						• Déclenchement et pilotage de techniciens sur site.<br>
						• Accompagnement des intervenants terrain, via relances si besoin.<br>
						• Coupure et démarrage des baies 2G/3G.<br>
						• Garant des livrables: extraction, mise en forme, traitement, livraison et contrôle dans la qualité et les délais imposés par le client.</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Mai 2013<br>Juin 2013</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Intégrateur Réseaux Radio</h4>
					<h5>AFD Tech. (91) pour Alcatel-Lucent – Orange (91)</h5>
					<p>
						<strong>Intégration des baies 2G et 3G pour SWAP Orange :</strong><br><br>
						• Accompagnement et pilotage des techniciens sur site pour la validation de la  transmission et la bonne migration des liens Orange.<br>
						• Mise en service des nouvelles baies 2G et 3G (téléchargement logicielle et investigation N1 avant escalade auprès du TAC).<br>
						• Test des alarmes externes, Débit UL/DL, mesure de ROS et tests appels entrant/ sortant avec le technicien IC.<br>
						• Mises à jour des PRC (2G) et WorkOrder (3G).<br>
						• Créations des sites sur OMC 3G.<br>
						• Garant de la gestion des livrables, mise en forme, traitement, livraison et contrôle de la qualité et des délais imposés par le client.<br>
						• Validation et transfert à la supervision des sites Swappés.</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5>Décembre 2012<br>Mai 2013</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Superviseur Réseaux Radio</h4>
					<h5>AFD Tech. (91) pour Bouygues Telecom (78)</h5>
					<p>
						<strong>Supervision et Traitement d’alarmes en temps réel des réseaux Bouygues Télécom 2G/3G :</strong><br><br>
						• System Monitoring et Gestion des alarmes sur les équipements radio Ericsson 2G et 3G, Huawei 2G et 3G, Nortel 2G, Nokia 2G.<br>
						• Déclenchement et pilotage de techniciens sur site.<br>
						• Coupure et démarrage des baies 2G/3G.<br>
						• Garant des livrables: extraction, mise en forme, traitement, livraison et contrôle dans la qualité et les délais imposés par le client.<br>
						• Accompagnement des intervenants terrain, via relances si besoin.<br>
						• Création d’un tableau de suivi et statistique des opérations en cours OPTIM pour l’amélioration et la bonne tenue du poste.</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5><br>2012</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Technicien Informatique Hotliner</h4>
					<h5>MoodMedia (78)</h5>
					<p>
						<strong>
							Déploiement d’écrans publicitaires pour British American Tobacco :</strong><br><br>
						• Accompagnement des techniciens sur site par téléphone pour la validation et l’assistance avec prise en main à distance des écrans installés.
					</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5><br>2012</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Gérant Magasin Informatique</h4>
					<h5>VMK HIGH TECH (78)</h5>
					<p>
						<strong>Vente et dépannage de matériel informatique et High Tech :</strong><br><br>
						• Conseil et accompagnement et solutions matérielles adaptées.<br>
						• Maintenance et dépannage des PC par Tél. en atelier et sur site.<br>
						• Conception de PC sur mesure.<br>
						• Remplacement d’écrans de téléphones et Tablettes.<br>
						• Formation à domicile, Windows, Pack Office, Internet, Messagerie …
					</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5><br>2002 - 2010</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Acheteur / Approvisionneur</h4>
					<h5>Tyco Fire & Integrated Solutions (78)</h5>
					<p>
						<strong>Mise en concurrence des fournisseurs :</strong><br><br>
						• Etablissement et validation des contrats cadres.<br>
						• Vérification des factures fournisseurs en litiges comptable.<br>
						• Création des fiches articles dans la base de données.<br>
						• Définition avec le Marketing du niveau de stock de sécurité.<br>
						• Suivi des ruptures de stock.<br>
						• Création et mise en place du poste de Responsable des retours fournisseurs.<br>
						• Etablissement et rédaction des documents et procédures nécessaires à cette fonction.<br>
						• Suivi, création, des tableaux de bord, valorisation des achats et statistiques achats.
					</p>
				</div>
			</div>
		</div>

		<div class="row studyItem">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<div class="dates">
					<h5><br>1992 - 2002</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
				<div class="arrowpart"></div>
				<div class="studyBox">
					<h4>Magasinier /  Réceptionniste</h4>
					<h5>Tyco Fire & Integrated Solutions (78)</h5>
					<p>
						<strong>Responsable Adjoint Magasin :</strong><br><br>
						• Gestionnaire de stock (1,8 M€).<br>
						• Planificateur des commandes clients.<br>
						• Logistique transport.<br>
						• Réceptionniste.<br>
						• Préparateur de commandes.<br>
						• Magasinier retours chantiers.
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
