<section id="loisir">

	<p href="" class="typewrite" data-period="800" data-type='[ "le développement web." , "créer des applications web.", "faire la refonte des sites.", "le Parachutisme.", "le Cinéma." ]'>
		<span class="wrap"></span>
	</p>

</section>
