<div class="tab-pane fade show active" id="web" role="tabpanel" aria-labelledby="home-tab">
	<p>Voici quelques exemples de mes réalisations</p>

	<div class="container-fluid p-0">
		<div class="row">

			<div class="col-sm-3 work-item sc-item">
				<a href="#" data-toggle="modal" data-target="#pasvupaslu">
					<img class="img-fluid" src="assets/images/pasvupaslu.png" alt="Projet Site PasVuPasLu"/>
					<div class="overlay">
						<i class="fa fa-search-plus"></i>Symfony 4, MySQL ,CSS, Bootstrap, Javascript, PHP 7</div>
				</a>
			</div>

			<div class="modal fade" id="pasvupaslu" tabindex="-1" role="dialog" aria-labelledby="pasvupaslu" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Site web PasVuPasLu</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-6 modal-left">
									<a href="https://www.pasvupaslu.com/" target="_blank"><img src="assets/images/pasvupaslu2.png" alt="Site web PasVuPasLu"/></a>
								</div>
								<div class="col-lg-6 modal-right">
									<h5 class="card-header">Site</h5>
									<p>
										<a href="https://www.pasvupaslu.com/" target="_blank">PasVuPasLu</a>
									</p>
									<h5 class="card-header">Outils utilisés</h5>
									<p>
										Symfony v4.2.12., MySQL ,Css, Bootstrap, Javascript, PHP 7.4
									</p>
									<br>
									<h5 class="card-header">Description</h5>
									<p class="descriptexte">Refonte total du site selon cahier des charges :<br>
										<strong>
											Objectif Majeur du stage :
										</strong><br>
										- Rendre la plateforme existante beaucoup plus vivante :<br>
										Animations et mise en place de parties entièrement modifiables à partir du back office pour pouvoir coller à l’actualité et que chaque visiteur trouve des nouvelles choses tous les jours.<br>
										J'ai commencé à identifier le code afin d’y intégrer les modifications et les évolutions que je pourrai ou devrai faire.<br>
										J’ai très vite pris le lead et de ce fait, j’ai été nommé chef de projet par l’équipe pour gérer les reporting et diverses questions via notre tuteur.<br>
										J’ai distribué le travail sur les modifications urgentes en fonction des capacités de chacun.<br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
