<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Erreur 404</title>

		<!-- Google font -->
		<link
		href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="assets/css/style_error_404.css"/>

	</head>

	<body>

		<div id="notfound">
			<div class="notfound">
				<div class="notfound-404">
					<h1>Oops!</h1>
				</div>
				<h2>404 - Page not found</h2>
				<p>Cette page n'existe pas ou est temporairement indisponible.<br>
					Veuillez réessayer ultérieurement.</p>
				<a href="Articles-Page1">Retour Blog</a>
			</div>
		</div>

	</body>
	{# {{ include('message_display.twig') }} #}

</html>
