<div class="container bg-success text-white" style="max-width: max-content; border-radius: 100px;">
	{% if SESSION.success is defined %}
		<p>{{SESSION.success}}</p>
	{% endif %}
</div>
<div class="container-fluid bg-danger text-white" style="max-width: max-content; border-radius: 100px;">
	{% if SESSION.error is defined %}
		<p>{{SESSION.error}}</p>
	{% endif %}
</div>
