<section id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-100">
                <h1 class="titreBorder">Portfolio
                </h1>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="web-tab" data-toggle="tab" href="#web" role="tab" aria-controls="web" aria-selected="true">Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="design-tab" data-toggle="tab" href="#maquettes" role="tab" aria-controls="maquettes" aria-selected="false">Maquettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="autres-tab" data-toggle="tab" href="#recommandations" role="tab" aria-controls="autres" aria-selected="false">Appréciations / Recommandations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="certificats-tab" data-toggle="tab" href="#certificats" role="tab" aria-controls="certificats" aria-selected="false">Certifications</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- Content Web ***************************************** -->
                <div class="tab-pane fade show active" id="web" role="tabpanel" aria-labelledby="home-tab">
                    <p>Voici quelques exemples de mes réalisations</p>

                    <div class="container-fluid p-0">
                        <div class="row">                                   

                            <div class="col-sm-3 work-item sc-item">
                                <a href="#" data-toggle="modal" data-target="#pasvupaslu">
                                    <img class="img-fluid" src="public/images/pasvupaslu.png" alt="Projet Site PasVuPasLu" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Symfony 4, MySQL ,CSS, Bootstrap, Javascript, PHP 7</div>
                                </a>
                            </div>

                            <div class="modal fade" id="pasvupaslu" tabindex="-1" role="dialog" aria-labelledby="pasvupaslu" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site web PasVuPasLu</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://www.pasvupaslu.com/" target="_blank"><img src="public/images/pasvupaslu2.png" alt="Site web PasVuPasLu" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://www.pasvupaslu.com/" target="_blank">PasVuPasLu</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        Symfony v4.2.12., MySQL ,Css, Bootstrap, Javascript, PHP 7.4
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Refonte total du site selon cahier des charges :<br>
                                                        <strong> Objectif Majeur du stage : </strong><br>
                                                        - Rendre la plateforme existante beaucoup plus vivante :<br>
                                                        Animations et mise en place de parties entièrement modifiables à partir du back office pour pouvoir coller à l’actualité et que chaque visiteur trouve des nouvelles choses tous les jours.<br>                                                                
                                                        J'ai commencé à identifier le code afin d’y intégrer les modifications et les évolutions que je pourrai ou devrai faire.<br>                                                                
                                                        J’ai très vite pris le lead et de ce fait, j’ai été nommé chef de projet par l’équipe pour gérer les reporting et diverses questions via notre tuteur.<br>                                                                
                                                        J’ai distribué le travail sur les modifications urgentes en fonction des capacités de chacun.<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                        </div>
                    </div>
                </div>

                <!-- Content Maquette ***************************************** -->
                <div class="tab-pane fade" id="maquettes" role="tabpanel" aria-labelledby="maquette-tab">
                    <p>Quelques une de mes maquettes réalisées</p>

                    <div class="container-fluid p-0">
                        <div class="row">

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette1">
                                    <img class="img-fluid" src="public/images/maquette_Site_E_commerce.png" alt="Maquette Site E-commerce" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette1" tabindex="-1" role="dialog" aria-labelledby="maquette1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site E-commerce</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/maquettes/maquette1/" target="_blank"><img src="public/images/maquette_Site_E_commerce.png" alt="Site E-commerce" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/maquettes/maquette1/" target="_blank">Site E-commerce</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Réalisation complète en HTML & CSS :<br>
                                                        - Bon, rien de bien méchant mais pour une première je trouve cela plutôt pas mal !<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette2">
                                    <img class="img-fluid" src="public/images/maquette_Site_Vitrine.png" alt="Maquette Site Vitrine" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS & Bootstrap</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette2" tabindex="-1" role="dialog" aria-labelledby="maquette2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Vitrine</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/maquettes/maquette2/" target="_blank"><img src="public/images/maquette_Site_Vitrine.png" alt="Site E-commerce" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/maquettes/maquette2/" target="_blank">Site Vitrine</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS & Bootstrap
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Première réalisation en utilisant Bootstrap :<br>
                                                        - La aussi, affichage plutôt simpliste, pour un œil averti il y a pas mal d'erreurs surtout en responsive !<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette3">
                                    <img class="img-fluid" src="public/images/maquette_Site_Restaurant.png" alt="Maquette Site Restaurant" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS & Bootstrap</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette3" tabindex="-1" role="dialog" aria-labelledby="maquette3" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Restaurant</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/maquettes/maquette3/" target="_blank"><img src="public/images/maquette_Site_Restaurant.png" alt="Site E-commerce" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/maquettes/maquette3/" target="_blank">Site Restaurant</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS & Bootstrap
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Autre réalisation en utilisant Bootstrap :<br>
                                                        - Enfin, première maquette avec un menu actif qui méne à d'autres pages.<br>
                                                        On remarque bien la différence entre les premières maquettes des premiers jours et celle-ci.<br>
                                                        Il reste tout de même une amélioration à faire au niveau du menu en responsive !
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette4">
                                    <img class="img-fluid" src="public/images/maquette_Site_club_Para.png" alt="Maquette Site pour un club de Parachutisme" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS, Bootstrap, Wordpress, PHP</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette4" tabindex="-1" role="dialog" aria-labelledby="maquette4" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Vitrine pour un club de Parachutisme</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/clubparaguedin/" target="_blank"><img src="public/images/maquette_Site_club_Para.png" alt="Site Vitrine pour un club de Parachutisme" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/clubparaguedin/" target="_blank">Vitrine pour un club de Parachutisme</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS, Bootstrap, Wordpress, PHP
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Mon premier site réalisé en Wordpress intégrateur, c'est à dire en créant mon propre thème :<br>
                                                        - Extension Utilisées : Elementor, Contact Form 7, Shortcodes, Widget Blocks, AddToAny Share, Maga Menu Max, Cube 3D, Cube 3D Sliders.
                                                        Pour la migration du local vers l'hébergeur j'ai utilisé All-in-One WP migration avec une extension pouvant prendre en charge le chargement de l'archive jusqu'à 512MB.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette5">
                                    <img class="img-fluid" src="public/images/maquette_Agence_Sites_WordPress.png" alt="Maquette Agence de création de sites WordPress" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS, Wordpress</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette5" tabindex="-1" role="dialog" aria-labelledby="maquette5" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Agence de création de sites WordPress</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/banana/" target="_blank"><img src="public/images/maquette_Agence_Sites_WordPress.png" alt="Site Agence de création de sites WordPress" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/banana/" target="_blank">Agence de création de sites WordPress</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS, Wordpress
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Une autre maquette pour une agence de création de sites WordPress :<br>
                                                        - Réalisée avec le thème OceanWP.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette7">
                                    <img class="img-fluid" src="public/images/maquette_Site_Club_Fitness.png" alt="Maquette Club de Fitness" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS, Wordpress</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette7" tabindex="-1" role="dialog" aria-labelledby="maquette7" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Club de FITNESS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/fitactive/" target="_blank"><img src="public/images/maquette_Site_Club_Fitness.png" alt="Site Club de FITNESS" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/fitactive/" target="_blank">Club de FITNESS</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS, Wordpress
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Une autre maquette pour un club de FITNESS :<br>
                                                        - Réalisée avec le thème OceanWP & Megagym.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette8">
                                    <img class="img-fluid" src="public/images/maquette_Site_Agence_immo.png" alt="Site Agence immobilière" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS, Wordpress</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette8" tabindex="-1" role="dialog" aria-labelledby="maquette8" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Ventes et locations de chalet de Luxe à Courchevel</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/chaletsetcaviar/" target="_blank"><img src="public/images/maquette_Site_Agence_immo.png" alt="Site Agence immobilière" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/chaletsetcaviar/" target="_blank">Chalets et Caviar</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS, Wordpress
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Une autre maquette pour une agence IMMO. Ventes et Locations de chalet de luxe à la montagne :<br>
                                                        - Réalisée avec le thème OceanWP & Architect.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette9">
                                    <img class="img-fluid" src="public/images/maquette_Festival_Films_Plein_Air.png" alt="Maquette Le Festival des Films de Plein Air" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML, CSS, Bootstrap</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette9" tabindex="-1" role="dialog" aria-labelledby="maquette9" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site pour Le Festival des Films de Plein Air<br> au parc Monceau à Paris</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://vmkdev.com/festiair/" target="_blank"><img src="public/images/maquette_Festival_Films_Plein_Air.png" alt="Le Festival des Films de Plein Air" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://vmkdev.com/festiair/" target="_blank">Festival des Films de Plein Air</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS, Bootstrap
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Une autre maquette pour l'association "Les Films de Plein Air". 
                                                        Jennifer EDWARDS, amatrice passionnée de cinéma d'auteur, a pour objet principal 
                                                        l'organisation de festivals de cinéma d'auteur en plein air. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#maquette6">
                                    <img class="img-fluid" src="public/images/maquette_App_Angular.png" alt="Maquette Application Angular" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Angular & Firebase</div>
                                </a>
                            </div>

                            <div class="modal fade" id="maquette6" tabindex="-1" role="dialog" aria-labelledby="maquette6" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Site Ma bibliothèque<h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6 modal-left">
                                                    <a href="https://bookshelves-9db57.web.app" target="_blank"><img src="public/images/maquette_App_Angular.png" alt="Maquette Application Angular" /></a>
                                                </div>
                                                <div class="col-lg-6 modal-right">
                                                    <h5 class="card-header">Site</h5>
                                                    <p>
                                                        <a href="https://bookshelves-9db57.web.app" target="_blank">Bookshelves</a>
                                                    </p>
                                                    <h5 class="card-header">Outils utilisés</h5>
                                                    <p>
                                                        HTML, CSS & Bootstrap, Angular - TypeScript et JavaScript
                                                    </p>
                                                    <br>
                                                    <h5 class="card-header">Description</h5>
                                                    <p class="descriptexte">Une application sympa, qui répertorie les livres de votre bibliothèque :<br>
                                                        - Ma Première application avec Angular et Firebase.<br>
                                                        Vous pouvez créer votre profil et vous connecter afin d'ajouter des livres.<br>
                                                        J'ai volontairement annulé la suppression des livres pour avoir un contenu en exemple, 
                                                        mais sachez que cette option est disponible.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Content recommandations ***************************************** -->
                <div class="tab-pane fade" id="recommandations" role="tabpanel" aria-labelledby="recommandations-tab">
                    <p>Attestation de fin de stage et lettres de recommandation.</p>
                    <div class="container-fluid p-0">
                        <div class="row">


                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#attestation">
                                    <img class="img-fluid" src="public/images/logo_pasvupaslu.png" alt="Logo PasVuPasLu" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Stage chez Therhoma
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="attestation" tabindex="-1" role="dialog" aria-labelledby="attest" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Attestation de fin de stage Therhoma</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <a target="_blank" href="public/cv/attestation_terhoma.pdf" class="btn btn-attest">Télécharger l'attestation</a>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/attestation_stage_Therhoma.jpg" alt="Attestation de fin de stage Therhoma" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#attestation2">
                                    <img class="img-fluid" src="public/images/logo_wf3.jpg" alt="Logo WF3" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Stage chez Terhoma
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="attestation2" tabindex="-1" role="dialog" aria-labelledby="attest" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Attestation de fin de stage Web Force 3</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <a target="_blank" href="public/cv/attestation_wf3.pdf" class="btn btn-attest">Télécharger l'attestation</a>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/attestation_stage_wf3.jpg" alt="Attestation de fin de stage Web Force 3" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Content certificats ***************************************** -->
                <div class="tab-pane fade" id="certificats" role="tabpanel" aria-labelledby="certificats-tab">
                    <p>Certifications obtenues à l'issue des cours</p>
                    <div class="container-fluid p-0">
                        <div class="row">

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-front">
                                    <img class="img-fluid" src="public/images/logo_wf3.jpg" alt="Logo WF3" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Développement Front
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-front" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification Techniques d'intégration Web</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_html_css.png" alt="certificat_html_css"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-back">
                                    <img class="img-fluid" src="public/images/logo_wf3.jpg" alt="Logo WF3" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Développement Back
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-back" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification Techniques de développement Web</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_php_sql_javascript.png" alt="certificat_php_sql_javascript" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-htmlcss">
                                    <img class="img-fluid" src="public/images/openclassroom.webp" alt="Logo Openclassrooms" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>HTML & CSS
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-htmlcss" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification HTML & CSS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_OCR_HTML5_CSS3.jpg" alt="certificat_html_css" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-symfony5">
                                    <img class="img-fluid" src="public/images/openclassroom.webp" alt="Logo Openclassrooms" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Symfony 5
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-symfony5" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification au framework Symfony 5 </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_OCR_Symfony5.jpg" alt="certificat symfony 5" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-react-native">
                                    <img class="img-fluid" src="public/images/openclassroom.webp" alt="Logo Openclassrooms" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>React Native 
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-react-native" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification application React Native</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_OCR_React_Native.jpg" alt="certificat React Native" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-angular">
                                    <img class="img-fluid" src="public/images/openclassroom.webp" alt="Logo Openclassrooms" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Angular
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-angular" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification application Angular</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_OCR_Angular.jpg" alt="certificat Angular" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-sm-3 work-item">
                                <a href="#" data-toggle="modal" data-target="#cert-wp">
                                    <img class="img-fluid" src="public/images/openclassroom.webp" alt="Logo Openclassrooms" />
                                    <div class="overlay"><i class="fa fa-search-plus"></i>Wordpress 5
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="cert-wp" tabindex="-1" role="dialog" aria-labelledby="cert" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Certification Wordpress 5</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 modal-left">
                                                    <img src="public/images/certificat_OCR_WordPress 5.jpg" alt="certificat Wordpress 5" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- FIN contents ***************************************** -->
            </div>
        </div>
    </div>
</section>
