    <section id="competence">
        <div class="left-float">
            <div class="compLeft animated-element slide-left">
                <h3><i class="fa fa-code"></i>Compétences techniques</h3>
                <ul class="compItems">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Responsive design</li>
                    <li>Bootstrap</li>
                    <li>MySQL</li>
                    <li>PHP</li>
                    <li>MailDev</li>
                    <li>Symfony</li>
                    <li>Wordpress</li>
                    <li>SEO</li>
                    <li>Angular</li>
                    <li>React Native</li>
                    <li>Expo</li>
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Ajax</li>
                </ul>

                <h3><i class="fa fa-globe"></i>Langues</h3>
                <ul class="compItems">
                    <li>Français : Langue Maternelle</li><br>
                    <li>Anglais : Novice </li>
                </ul>
            </div>
        </div>

        <div class="right-float">
            <div class="compRight animated-element slide-right">
                <h3 class="titreBorder"><i class="fa fa-briefcase"></i>Outils</h3>
                <ul class="styled-list large">
                    <br>
                    <li>Graphisme : Photoshop, Paint, Paint 3D</li>
                    <li>Systèmes : Git, Gitub, Windows, Linux</li>
                    <li>Bureautique : MS Office, Citrix, Business Objects , Acces</li>
                    <li>Télécom et réseau : Fast Fiber, Gir, Jar, EP1, OMC Alcatel-Lucent, Nortel, Ericsson, Nokia, Huawei, Atlas,
                        Metagate, Océane, Cares, TeMIP Client, OCS, CRS, GIR, GCR, SAS, ITSM, CIRCEE, NEXMAN, MOBAXTERN, KITTY, OMNIVISTA</li>
                </ul>
                <h3 class="titreBorder"><i class="fa fa-user-circle"></i>Savoir-être</h3>
                <br >
                <br >
                    <li>Patience. Curiosité. Persévérance</li>   
                    <li>Sens de l’Organisation et de la Coordination</li> 
                    <li>Sens du Service</li>
                    <li>Aisance Relationnelle</li>
                    <li>Facilité d'adaptation</li>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
