<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% block page_title %}{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://pasvupaslu.com/assets/images/illustration/favicon.ico" type="image/ico" sizes="16x16">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   
        <!-- Custom fonts for this template-->
        <!-- Custom styles for this template-->
        <link href="assets/css/css_admin.css" rel="stylesheet">
        <script src="vendor/ckeditor/ckeditor/ckeditor.js"></script>
    </head>
    <body id="page-top">
       <!-- Page Wrapper -->
       <div id="wrapper">
            <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Accueil" target="_blank">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="assets/images/logo-header.png" style="width: 52px">
        </div>
        <div class="sidebar-brand-text mx-3">Port Folio</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="Articles-Page1" target="_blank">
            <i class="fas fa-home"></i>
            <span>Retourner au blog</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="Administration">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Blog
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->

        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
            <i class="fas fa-book-open"></i>
            <span>Gestion utilisateurs</span>
        </a>
        <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Utilisateurs</h6>
                <a class="collapse-item" href="admin-pending-users">Valider / Supprimer</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-book-open"></i>
            <span>Gestion articles</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Articles</h6>
                <a class="collapse-item" href="admin-waiting-posts">Valider / Supprimer</a>
                <a class="collapse-item" href="Ajouter-un-article">Ajouter</a>
            </div>
        </div>
    </li> 

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwot" aria-expanded="true" aria-controls="collapseTwot">
            <i class="fas fa-book-open"></i>
            <span>Gestion commentaires</span>
        </a>
        <div id="collapseTwot" class="collapse" aria-labelledby="headingTwot" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Commentaires en attentes</h6>
                <a class="collapse-item" href="admin-waiting-comments">Valider / Supprimer</a>            
                <h6 class="collapse-header">Commentaires refusés</h6>
                <a class="collapse-item" href="admin-refused-comments">Valider / Supprimer</a>
            </div>
        </div>
    </li> 

   

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Profil
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-book-open"></i>
            <span>Profil</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Identité & Parcours</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwot" aria-expanded="true" aria-controls="collapseTwot">
            <i class="fas fa-book-open"></i>
            <span>Expériences Pro.</span>
        </a>
        <div id="collapseTwot" class="collapse" aria-labelledby="headingTwot" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Expériences</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
            <i class="fas fa-book-open"></i>
            <span>Compétences techniques</span>
        </a>
        <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Compétences</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li>    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Port Folio
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <i class="fas fa-book-open"></i>
            <span>Web</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Web</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <i class="fas fa-book-open"></i>
            <span>Maquettes</span>
        </a>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Maquettes</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <i class="fas fa-book-open"></i>
            <span>Recommandations</span>
        </a>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Recommandations</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            <i class="fas fa-book-open"></i>
            <span>Certifications</span>
        </a>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Certifications</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            <i class="fas fa-book-open"></i>
            <span>Loisirs</span>
        </a>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Loisirs</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Mes reseaux
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
            <i class="fas fa-book-open"></i>
            <span>Icones et Liens</span>
        </a>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Reseaux</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Footer
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            <i class="fas fa-book-open"></i>
            <span>Mentions Legals</span>
        </a>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Publi. Footer</h6>
                <a class="collapse-item" href="#">Voir / Modifier</a>
                <a class="collapse-item" href="#">Ajouter</a>
            </div>
        </div>
    </li> 
   

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
             <!-- Main Content -->
            <div id="content">
            <!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dashbord : Frédéric Vanmarcke</span>
                <img class="img-profile rounded-circle" src="assets/images/flower-151829_640.png">

            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="Deconnexion">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Déconnexion
                </a>
            </div>
        </li>

    </ul>

    </nav>
    <!-- End of Topbar -->

    <div class="container-fluid">


        <!-- Content Row -->
        <div class="row">

            {% block content %}{% endblock %}
            
        </div>
                      
        <!-- /.container-fluid -->

    </div>

    <!-- End of Main Content -->


<!-- Footer -->

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">


            <span>Copyright © VmkDev 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footers -->
            </div>
            <!-- End of Content Wrapper -->
            </div>
            <!-- End of Page Wrapper -->
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom scripts for all pages-->
        <script src="assets/js/js_admin.js"></script>    

</body>

</html>